$speed: 4s;

html {
  background: #000000;
}
pattern path {
  stroke: #000000;
}
.snake-group {
  stroke: #33d9de;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 1000;

  &__svg {
    width: 200px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.snake {
  animation: stroke-anim $speed linear infinite;
}
@keyframes stroke-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.snake {
  stroke-dasharray: 32 224;
  stroke-dashoffset: 256;
  animation-timing-function: steps(32);
}

.dot {
  animation: dot3 $speed steps(1) infinite;
}

.dot-3 {
  animation-name: dot3;
}
@keyframes dot3 {
  0% {
    opacity: 0;
  }
  5%,
  10%,
  25%,
  50.1%,
  92% {
    opacity: 1;
  }
}
