{{#with this}}
<li class="player bg-place">
  <span class="players-number pn-one">1</span>
  {{this.name}}
</li>
<li class="player bg-place">
  <span class="players-number pn-two">2</span>

</li>
<li class="player bg-place">
  <span class="players-number pn-three">3</span>

</li>

{{#each this}}
<li class="player bg-place">
  <span class="players-number pn-one">{{@index}}</span>
  Maximus - 324 points
</li>
{{/each }}
{{/with}}