body {
  background-color: black;
}

.snake-title {
  color: gold;
  text-align: center;
}

.canvas-wrp {
  /* height: 500px;
  width: 500px; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 36px;
}

.snake-start {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s linear;
}

.snake-start:disabled {
  cursor: not-allowed;
  filter: grayscale(80%);
  transform: scale(1);
}

.snake-score {
  color: #fff;
  padding: 6px 12px;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}

.options__item {
  margin: 0 0 10px 0;
  width: 100px;
}

.options__input:disabled {
  cursor: not-allowed;
  filter: grayscale(80%);
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  transform: scale(1);
}

.options__label {
  display: inline-flex;
  font-size: 18px;
  line-height: 140%;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: all 0.25s ease;
}

.options__label::before {
  content: '';
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.options__label::after {
  transition: transform 0.3s ease 0s;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  transform: scale(0);
}
