html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  /* background: url('../images/bg-repeat.jpg'); */
  background-color: #141d2d;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 10px 10px;
}

.is-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.top-players {
  width: 270px;
  height: 385px;
  position: relative;
  padding-top: 40px;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(rgb(32, 52, 75), rgb(27, 38, 58));
}

.top-players:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../images/noise.png');
}

.top__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.bg-place {
  background: hsla(0, 0%, 100%, 0.1);
  margin-bottom: 1px;
}

.top__title span {
  color: #118dd6;
}

.player {
  height: 30px;
  line-height: 30px;
  padding-right: 15px;
}

.players-number {
  position: relative;
  width: 50px;
  padding-left: 15px;
  display: inline-block;
}

.players-number::before {
  position: absolute;
  content: '';
  top: 2px;
  left: 0;
  right: 9px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.pn-one {
  border-left: 4px solid gold;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 215, 0, 0.5)),
    to(rgba(255, 215, 0, 0))
  );
}

.pn-one:before {
  background-image: url('../images/medal_gold.svg');
}

.pn-two {
  border-left: 4px solid silver;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 64%, 0.5),
    hsla(0, 0%, 64%, 0)
  );
}

.pn-two::before {
  background-image: url('../images/medal_silver.svg');
}

.pn-three {
  border-left: 4px solid #8a4b0b;
  background-image: linear-gradient(
    90deg,
    rgba(116, 67, 18, 0.5),
    rgba(116, 67, 18, 0)
  );
}

.pn-three:before {
  background-image: url('../images/medal_bronze.svg');
}

.logo-box {
  width: 270px;
  height: 385px;
  position: relative;
  padding-top: 40px;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(rgb(32, 52, 75), rgb(27, 38, 58));
}

.logo-box:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../images/noise.png');
}

.logo {
  position: relative;
  width: 300px;
  text-align: center;
}

.logo-title {
  font-size: 28px;
  font-weight: 700;
  color: #00aeff;
  letter-spacing: 0.04em;
  line-height: 1;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  transition: all 1s;
  margin-bottom: 20px;
}

.logo-text {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  line-height: 1.4;
}

.logo-text-img {
  width: 80%;
  margin: 0 auto;
  filter: drop-shadow(0 12px 10px rgba(255, 255, 255, 1));
}

.sing-in-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 600px;
  height: 600px;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%),
    linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
}

.command {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.icon {
  display: block;
  color: #fff;
  margin-right: 10px;
  font-size: 36px;
}

.auth-btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}

.auth-btn-up {
  background-image: linear-gradient(
    45deg,
    #6ad7ce 0%,
    #33de80 50%,
    #006078 100%
  );
}

.auth-btn:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.button-container-logout {
  position: absolute;
  bottom: 4%;
  left: 16%;
  margin: 0;
}

.command-text {
  color: #00aeff;
  font-size: 18px;
  font-weight: 500;
}

.command-text span {
  display: block;
}

.corp {
  color: #fff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
